<div style="padding: 30px">
    <h2>Info</h2>
    <ul>
        <li>Argumento/s de entrada: {{data.argumentosDeEntrada}}</li>
        <li>Sistema operativo: {{data.sistemaOperativo}}</li>
        <li>Versión de node: {{data.versionNodeJs}}</li>
        <li>Memoria reservada: {{data.memoriaReservada}}</li>
        <li>Path de ejecución: {{data.pathEjecucion}}</li>
        <li>Process ID: {{data.processID}}</li>
        <li>Carpeta del proyecto: {{data.carpetaDelProyecto}}</li>
    </ul>

    <button onclick="location.href='/'">Volver al inicio</button>
</div>